@use "../../global/mixins" as *;
.description {
  margin-bottom: 120px;
    @include tablet{
        margin-bottom: 60px;
    }

  h2 {
    strong {
      padding-left: 40px;
      @include tablet{
        padding-left: 0;
      }
    }
  }

  &__content {
    margin-top: 60px;
    font-size: 18px;
    letter-spacing: -0.02em;
    line-height: 28px;
  }
}
