body {
  .leaflet-tile{
    border-radius: 0;
  }
  .leaflet-popup-content {
    h3 {
      font-weight: 600;
      font-size: 20px;
      line-height: 25px;
      text-align: left;
      color: #4b7388;
    }
    .link{
      display: flex;
      justify-content: flex-end;
    }
    a {
      font-weight: bold;
      font-size: 14px;
      letter-spacing: 0.02em;
      line-height: 29px;
      color: #ac3053;
      text-transform: uppercase;
      text-align: right;
      margin-left: 55px;
      position: relative;
      &:before {
        content: "";
        position: absolute;
        width: 82px;
        height: 1px;
        background-color: #ac3053;
        top: 50%;
        right: calc(100% + 9px);
      }
    }
  }
}
