:root{
  --violet: #A77FDD;
  --vert: #A7C830;
  --lightVert:#F6FAEA;
  --pourpre: #AC3053;
  --bleu: #04ADD1;
  --lightBleu: #DCF3F8;
  --fontColor: #4B7388;
  --bordure: #95A3AB;
  --lightGrey: #F7F8F9;
  --transition: 0.5s all ease-in-out;
  --radius: 8px;
}
