.share{
  @media screen and (max-width: 1000px) {
    display: none;
  }
  position: absolute;
  right: 0;
  bottom: -90px;
  background: white;
  height: 41px;
  align-items: center;
  padding-left: 20px;
  border-radius: 5px 5px 0 0;
  padding-right: 20px;
  gap: 20px;
  display: flex;
  ul{
    display: flex;
    gap: 20px;
    align-items: center;
  }
  span{
    text-transform: uppercase;
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 0.02em;
    color: #95a3ab;
  }
}
