.titre {
  min-height: 414px;
  padding-top: 260px;
  padding-bottom: 90px;
  @media screen and (max-width: 1000px) {
    min-height: 310px;
    padding-top: 180px;
    padding-bottom: 0px;
  }
  display: grid;
  align-items: center;
  position: relative;
  background: linear-gradient(80deg, rgba(220, 243, 248, 0) 0%, #dcf3f8 100%) no-repeat right center;
  background-size: 50% 100%;
  @media screen and (max-width: 768px) {
    background:  #dcf3f880;
    background-size: 100%;
    min-height: 250px;
    padding-bottom: 25px;
  }


  h1 {
    font-size: 65px;
    line-height: 77px;
    margin-bottom: 5px;
    margin-top: 0;
    @media screen and (max-width: 768px) {
      font-size: 40px;
      line-height: 48px;
    }
  }

  .chapo {
    font-size: 24px;
    line-height: 31px;
    max-width: min(100%, 1160px);
  }

  &::before{
    position: absolute;
    content: '';
    bottom: 0;
    left: 0;
    width: 504px;
    height: 411px;
    background: url('/img/autres/fleur_titre.svg') no-repeat;
    z-index: -1;
  }

  .container{
    position: relative;
  }
}
