@media print{
    header,footer,#ariane,.next-to,.bien_sdb__cNFpo, .btn--outline,.situation{
        display: none;
    }

    body{
        .titre{
            padding-top: 25px;
            padding-bottom: 25px;
            min-height: 0;
            margin-bottom: 15px;
            h1{
                font-size: 32px;
            }
        }
        .embla__slide__img{
            width: 100%;
            height: auto;
            aspect-ratio: 24/9;
        }
        .infos{
            grid-template-columns: repeat(7,1fr);
            padding: 10px;
            svg{
                display: none;
            }
        }
        .embla{
            padding: 0;
        }
        .bien_flexB__Xqx6T{
            margin-top: 30px
        }
        .bien_flex__ptBtD{
            page-break-before: always;
            padding-top: 50px;
            flex-wrap: wrap;
            > :last-child{
                width: 100%;
            }
        }
    }
}
