:root {
  --violet: #A77FDD;
  --vert: #A7C830;
  --lightVert:#F6FAEA;
  --pourpre: #AC3053;
  --bleu: #04ADD1;
  --bgFiltres: #F4F5F6;
  --lightBleu: #DCF3F8;
  --fontColor: #4B7388;
  --bordure: #95A3AB;
  --bordureSelect: #CAD1D5;
  --lightGrey: #F7F8F9;
  --transition: 0.5s all ease-in-out;
  --radius: 8px;
}

html, body {
  overflow-x: clip;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: "League Spartan", sans-serif;
  font-weight: normal;
  font-size: 16px;
  letter-spacing: -0.02em;
  color: var(--fontColor);
}

* {
  box-sizing: border-box;
}

.container {
  width: min(100vw - 24px, 1457px);
  margin: 0 auto;
}
.container--inner {
  display: grid;
  grid-template-columns: 275px 1fr;
  grid-column-gap: 22px;
}
@media (max-width: 1000.01px) {
  .container--inner {
    grid-template-columns: 1fr;
    grid-row-gap: 40px;
  }
  .container--inner .sidebar {
    order: 2;
  }
}
.container--flex {
  display: flex;
  justify-content: space-between;
  gap: 70px;
}
@media (max-width: 1000.01px) {
  .container--flex {
    flex-direction: column;
    align-items: center;
    gap: 40px;
  }
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  height: auto;
  border-radius: var(--radius);
}

figure {
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
}
ul li {
  list-style: none;
}

h2 {
  font-weight: bold;
  font-size: 35px;
  position: relative;
}
h2 strong {
  font-weight: bold;
  font-size: 55px;
  line-height: 77px;
}
h2::after {
  content: "";
  position: absolute;
  left: 0px;
  bottom: -10px;
  width: 200px;
  height: 3px;
  background: var(--vert);
}
@media (max-width: 1000.01px) {
  h2 {
    display: block;
    text-align: center;
  }
  h2 strong {
    display: block;
  }
  h2:after {
    left: 50%;
    transform: translateX(-50%);
  }
}

.header {
  position: relative;
  z-index: 1000;
  background: #EFF1F3;
}
.header__top__grid {
  display: flex;
  height: 53px;
  align-items: center;
  justify-content: space-between;
}
.header__top__grid .left {
  display: flex;
  align-items: center;
  gap: 6px;
  text-transform: uppercase;
  font-weight: 500;
}
.header__top__grid .left a {
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 18px;
}
.header__top__grid .left a svg {
  position: relative;
  top: -2px;
}
@media (max-width: 1000.01px) {
  .header__top__grid .left {
    width: 0;
    overflow: hidden;
  }
}
.header__top__grid .right {
  background: var(--vert);
  color: white;
  height: 100%;
  padding-left: 40px;
  text-transform: uppercase;
  border-bottom-left-radius: 50px;
  position: relative;
}
.header__top__grid .right svg {
  margin-top: -3px;
}
@media (max-width: 1000.01px) {
  .header__top__grid .right span {
    display: none;
  }
}
.header__top__grid .right ul {
  display: flex;
  height: 100%;
  gap: 35px;
  margin-bottom: 0;
  align-items: center;
}
.header__top__grid .right ul a {
  display: flex;
  gap: 10px;
  align-items: center;
  font-weight: bold;
  letter-spacing: 0.04em;
}
.header__top__grid .right::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 99%;
  z-index: -1;
  width: calc(100vw - 100%);
  height: 100%;
  background: var(--vert);
}
.header__top__grid a {
  position: relative;
}
.header__top__grid a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 100%;
  height: 2px;
  background: var(--pourpre);
  transform: scaleX(0);
  transition: var(--transition);
}
@media (min-width: 999.98px) {
  .header__top__grid a:hover::after {
    transform: scaleX(1);
  }
}
.header__top__grid .right a::after {
  background: white;
}
.header__bottom {
  position: absolute;
  left: 0;
  right: 0;
  z-index: 3;
  top: calc(100% + 65px);
}
.header__bottom .container {
  background: white;
  height: 106px;
  position: relative;
  display: flex;
  padding-right: calc(95px + 10%);
  align-items: center;
  justify-content: space-between;
  border-radius: var(--radius);
  gap: 30px;
  box-shadow: -11px 20px 20px rgba(0, 0, 0, 0.2);
  padding-left: 48px;
}
@media (max-width: 1400.01px) {
  .header__bottom .container {
    padding-right: 150px;
  }
}
@media (max-width: 1000.01px) {
  .header__bottom .container {
    padding-left: 15px;
  }
}
.header__bottom .container img {
  position: relative;
  top: -40px;
  border-radius: 0;
  max-width: 30vw;
}
@media (max-width: 1000.01px) {
  .header__bottom .container img {
    top: -15px;
  }
}
.header__bottom .burger {
  display: none;
  width: 100px;
  gap: 5px;
  justify-content: center;
  align-items: center;
}
@media (max-width: 1000.01px) {
  .header__bottom .burger {
    display: flex;
  }
}
.header__bottom .burger .picto {
  display: grid;
  grid-row-gap: 5px;
}
.header__bottom .burger span {
  display: block;
  height: 2px;
  background: var(--fontColor);
  width: 25px;
}
@media screen and (min-width: 1000px) {
  .header__bottom nav {
    height: 100%;
  }
}
.header__bottom nav > ul {
  display: flex;
  gap: 91px;
}
@media screen and (min-width: 1000px) {
  .header__bottom nav > ul {
    height: 100%;
  }
}
@media (max-width: 1400.01px) {
  .header__bottom nav > ul {
    gap: 45px;
  }
}
.header__bottom nav > ul > li {
  max-width: 110px;
  position: relative;
}
@media screen and (min-width: 1000px) {
  .header__bottom nav > ul > li {
    height: 100%;
  }
}
@media screen and (min-width: 1000px) {
  .header__bottom nav > ul > li > a {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
}
.header__bottom nav > ul > li:not(:last-child)::after {
  content: "";
  position: absolute;
  top: 50%;
  right: -45px;
  transform: translateY(-50%);
  width: 1px;
  height: 50px;
  background: var(--bordure);
  opacity: 0.3;
}
@media (max-width: 1400.01px) {
  .header__bottom nav > ul > li:not(:last-child)::after {
    display: none;
  }
}
.header__bottom nav > ul > li .sous-menu {
  margin-top: 5px;
  padding: 15px;
  border-radius: 0 0 10px 10px;
  background: white;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
  transition: opacity 0.2s;
}
@media screen and (min-width: 1000px) {
  .header__bottom nav > ul > li .sous-menu {
    position: absolute;
    top: 100%;
    left: -45px;
    right: -85px;
    opacity: 0;
    margin-top: 0 !important;
    pointer-events: none;
  }
}
.header__bottom nav > ul > li .sous-menu > li:not(:first-child) {
  margin-top: 15px;
}
.header__bottom nav > ul > li .sous-menu > li > a {
  color: var(--pourpre);
  font-weight: bold;
  font-size: 18px;
}
.header__bottom nav > ul > li .sous-menu > li > ul {
  padding-top: 10px;
  padding-left: 10px;
}
@media screen and (min-width: 1000px) {
  .header__bottom nav > ul > li:hover .sous-menu {
    opacity: 1;
    pointer-events: all;
  }
}
.header__bottom nav > ul > li > a {
  font-weight: bold;
  font-size: 24px;
  line-height: 24px;
  text-align: left;
  color: #4b7388;
  transition: var(--transition);
}
@media (min-width: 999.98px) {
  .header__bottom nav > ul > li > a:hover {
    color: var(--pourpre);
  }
}
@media (max-width: 1000.01px) {
  .header__bottom nav {
    position: fixed;
    inset: 0;
    pointer-events: none;
    z-index: 1000;
    opacity: 0;
    background: white;
    transition: var(--transition);
  }
  .header__bottom nav.open {
    pointer-events: all;
    opacity: 1;
    right: 40px;
  }
  .header__bottom nav.open::after {
    content: "";
    position: absolute;
    left: 100%;
    top: 0;
    bottom: 0;
    z-index: 1;
    width: 40px;
    background: rgba(0, 0, 0, 0.6);
  }
  .header__bottom nav.open::before {
    content: "Fermer";
    position: absolute;
    left: 100%;
    color: white;
    top: 50px;
    font-weight: bold;
    font-size: 20px;
    z-index: 2;
    rotate: 90deg;
    width: 40px;
  }
  .header__bottom nav > ul {
    height: 100%;
    overflow: auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .header__bottom nav > ul > li {
    max-width: 75%;
    text-align: center;
  }
  .header__bottom nav > ul > li::after {
    display: none;
  }
}
.header__search {
  position: absolute;
  right: 0;
  height: 100%;
  width: 95px;
  padding: 15px;
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  z-index: 1;
  transition: var(--transition);
}
.header__search::before {
  content: "";
  background: var(--pourpre);
  top: 0;
  right: 0;
  z-index: -1;
  bottom: 0;
  width: 100%;
  border-radius: 100px 0 0 100px;
  position: absolute;
  transition: var(--transition);
}
.header__search form {
  opacity: 0;
  width: 0;
  display: none;
  transition: var(--transition);
}
.header__search.active {
  width: min(100%, 450px);
}
.header__search.active form {
  opacity: 1;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 5px;
}
@media (max-width: 500.01px) {
  .header__search.active form input {
    width: 200px;
  }
}
.header__search.active > svg {
  display: none;
}
.header__search.active::before {
  background: var(--vert);
}

.alerte {
  position: fixed;
  inset: 0;
  z-index: 89000000;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(4px);
  display: grid;
  place-items: center;
  opacity: 1;
  transition: opacity 0.25s ease;
}
.alerte__inner {
  width: min(1100px, 90%);
  padding: 45px;
  background: white;
  border-radius: var(--radius);
  box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.2);
}
.alerte__title {
  font-weight: bold;
  font-size: 32px;
  display: inline-block;
  padding: 0 30px 15px;
  margin: 0 auto 15px;
  border-bottom: 2px solid;
}
.alerte button {
  background: white;
  position: absolute;
  right: 30px;
  top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.alerte.fade {
  opacity: 0;
}

.footer {
  background: var(--lightGrey);
}
.footer a {
  transition: var(--transition);
}
@media (min-width: 999.98px) {
  .footer a:hover {
    color: var(--pourpre);
  }
}
.footer .btn--xs {
  border-width: 2px;
}
.footer p {
  margin: 0;
}
.footer__logo img {
  border-radius: 0;
}
.footer__top {
  padding-top: 60px;
  padding-bottom: 60px;
  line-height: 26px;
}
@media (max-width: 1400.01px) {
  .footer__top .container {
    flex-flow: row wrap;
  }
  .footer__top .container > * {
    flex: 1 1 30%;
  }
}
@media (max-width: 500.01px) {
  .footer__top .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .footer__top .container > * {
    flex: 1 1 100%;
  }
}
.footer__title {
  font-weight: 600;
  font-size: 17px;
  letter-spacing: 0.02em;
  color: #95a3ab;
  text-transform: uppercase;
}
.footer__coordonnees {
  font-size: 17px;
}
.footer .btn--xs {
  border-width: 2px;
}
.footer__acces {
  flex: 1;
}
.footer__acces ul {
  margin-top: 15px;
  display: flex;
  flex-flow: row wrap;
}
.footer__acces ul > li {
  flex: 1 1 50%;
}
@media screen and (max-width: 1000px) {
  .footer__acces ul > li {
    flex: 1 1 100%;
  }
}
.footer__acces ul svg {
  width: 0;
  transition: var(--transition);
}
.footer__acces li {
  margin-bottom: 25px;
}
.footer__acces a {
  font-weight: 500;
  font-size: 26px;
  line-height: 28px;
  transition: var(--transition);
  color: #4b7388;
  position: relative;
  left: -1px;
  padding-left: 0;
}
.footer__acces a:hover {
  color: var(--pourpre);
  padding-left: 15px;
}
.footer__acces a:hover svg {
  width: 22px;
}
.footer__rs {
  flex: none;
  display: grid;
  grid-template-rows: 22px 40px auto;
  gap: 10px;
}
.footer__rs .btn {
  display: inline-flex;
  width: max-content;
}
.footer__rs ul {
  display: flex;
  gap: 15px;
}
.footer__rs ul .rs {
  border: 2px solid var(--vert);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 100px;
}
.footer__rs .input-grouped {
  width: min(421px, 75vw);
}
.footer__rs input {
  width: min(421px, 75vw);
  max-width: 100%;
  background: rgba(149, 163, 171, 0.1);
}
@media (max-width: 500.01px) {
  .footer__rs input {
    width: 100%;
  }
}
.footer__bottom {
  height: 67px;
  display: flex;
  align-items: center;
  text-align: center;
  border-top: 2px solid #CBD2D6;
}
@media (max-width: 500.01px) {
  .footer__bottom {
    padding-top: 25px;
    flex-direction: column;
    height: auto;
  }
}
.footer__bottom ul {
  display: flex;
  gap: 37px;
}
@media (max-width: 500.01px) {
  .footer__bottom ul {
    flex-direction: column;
    height: auto;
  }
}
.footer__bottom ul li {
  position: relative;
}
.footer__bottom ul li a {
  font-weight: 600;
}
.footer__bottom ul li:not(:last-child)::after {
  content: "";
  position: absolute;
  top: 50%;
  right: -18px;
  transform: translateY(-50%);
  width: 1px;
  height: 100%;
  background: #CBD2D6;
}
@media (max-width: 500.01px) {
  .footer__bottom ul li:not(:last-child)::after {
    display: none;
  }
}
.footer input {
  font-weight: 600;
}

.fixed {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 999;
  opacity: 1;
  pointer-events: all;
  transition: opacity 0.3s ease-in-out;
}
.fixed.hidden {
  opacity: 0;
  pointer-events: none;
}
@media (max-width: 1000.01px) {
  .fixed {
    left: 0;
  }
  .fixed ul {
    display: flex;
  }
  .fixed ul li {
    flex: 1;
  }
  .fixed ul li a {
    border-radius: 0;
    margin-bottom: 0;
    border-right: 1px solid white;
    justify-content: center;
    gap: 5px;
  }
}
.fixed a {
  display: flex;
  padding: 5px;
  align-items: center;
  line-height: normal;
  background: var(--bleu);
  color: white;
  gap: 15px;
  border-radius: 50px 0 0 50px;
  margin-bottom: 20px;
  box-shadow: 3px 4px 0px rgba(0, 0, 0, 0.1);
}
@media (max-width: 500.01px) {
  .fixed a {
    margin-bottom: 10px;
  }
}

.module-search {
  margin-bottom: 95px;
}
@media (max-width: 1000.01px) {
  .module-search {
    margin-bottom: 40px;
  }
}
.module-search input:not([type=file]) {
  height: 40px;
}
.module-search .mySelect {
  box-shadow: -4px 4px 4px rgba(4, 173, 209, 0.2);
}
.module-search__grid {
  display: grid;
  grid-template-columns: 1fr 150px 1fr;
  align-items: end;
}
@media (max-width: 1000.01px) {
  .module-search__grid {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    gap: 0;
  }
}
.module-search__grid #map {
  grid-column: 1/3;
  grid-row: 1;
}
@media (max-width: 1400.01px) {
  .module-search__grid #map {
    grid-column: 1/-1;
    grid-row: 1;
  }
}
.module-search__grid form {
  grid-column: 2/4;
  grid-row: 1;
  background: white;
  padding: 50px calc((100vw - 1457px) / 2) 35px 108px;
  border-top-left-radius: 12px;
}
@media (max-width: 1400.01px) {
  .module-search__grid form {
    padding: 30px 15px 30px 15px;
    grid-column: 1/-1;
    grid-row: 2;
  }
}
.module-search__grid form h2 {
  line-height: 0.51;
  margin-bottom: 10px;
}
.module-search__grid form h2 strong {
  display: block;
  padding-left: 35px;
}
@media (max-width: 500.01px) {
  .module-search__grid form h2 {
    line-height: 1;
    margin-bottom: 20px;
  }
  .module-search__grid form h2 strong {
    line-height: 1;
    padding: 0;
  }
}
.module-search__grid form .fields {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 63px) 57px;
  gap: 40px 55px;
  background: var(--lightBleu);
  border-radius: 0 var(--radius) var(--radius) var(--radius);
  padding: 35px;
}
@media (max-width: 500.01px) {
  .module-search__grid form .fields {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 63px) 57px;
  }
}
.module-search__grid form .fields label:not(.checkLab) {
  font-weight: 600;
  font-size: 20px;
  display: block;
  margin-bottom: 5px;
}
.module-search__grid form .ctas {
  grid-row: 4;
  grid-column: 1/-1;
  justify-self: end;
}
@media (max-width: 500.01px) {
  .module-search__grid form .ctas {
    grid-row: 7;
  }
}

@media screen and (max-width: 1000px) {
  .bg-svg {
    display: none;
  }
}

.home h2 {
  font-weight: 400;
}

.text-center {
  text-align: center;
}

.text-primary {
  color: var(--vert);
}

.sitemap ul {
  list-style: none;
  border-left: 2px solid var(--vert);
}
.sitemap ul ::before {
  display: none;
}
.sitemap li a:not([class]) {
  color: var(--fontColor);
  text-decoration: none;
  font-size: 22px;
}
.wysiwyg {
  margin: 50px 0;
  line-height: 1.4;
  font-size: 18px;
}
.wysiwyg a:not([class]) {
  text-decoration: underline;
  color: var(--pourpre);
}
.wysiwyg h2 {
  font-weight: bold;
  font-size: 50px;
}
.wysiwyg h3 {
  font-weight: 500;
  font-size: 45px;
  line-height: 53px;
  color: var(--bleu);
}
.wysiwyg h4 {
  font-weight: 500;
  font-size: 35px;
  line-height: 34px;
  color: var(--vert);
}
.wysiwyg h5 {
  font-weight: 600;
  font-size: 25px;
}
.wysiwyg > * {
  margin-bottom: 20px;
}
.wysiwyg ul:not([class]) {
  list-style-type: none;
  padding-left: 20px;
}
.wysiwyg ul:not([class]) li {
  position: relative;
}
.wysiwyg ul:not([class]) li::before {
  position: absolute;
  position: absolute;
  left: -25px;
  content: "";
  top: 2px;
  width: 18px;
  height: 18px;
  background: url("/list-marker.png");
}
.wysiwyg ul:not([class]) li ul li::before {
  width: 10px;
  height: 2px;
  top: 10px;
  background: var(--bleu);
}
.wysiwyg iframe {
  aspect-ratio: 16/9;
}
.wysiwyg table {
  border: 0;
}
.wysiwyg table thead tr {
  background: var(--fontColor);
  color: #DCF3F8;
  text-transform: uppercase;
  text-align: left;
}
.wysiwyg table thead tr tr, .wysiwyg table thead tr td, .wysiwyg table thead tr th {
  padding: 18px 30px 10px;
  border: 0 !important;
}
.wysiwyg table tbody {
  border-bottom: 2px solid var(--fontColor);
}
.wysiwyg table tbody tr:nth-child(even) {
  background: #F6FAEA;
}
.wysiwyg table tbody tr th, .wysiwyg table tbody tr td {
  border: 0;
  padding: 10px 30px;
}

.table-responsive {
  max-width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  border-spacing: 0;
}

.hero {
  position: relative;
  height: 717px;
  margin-bottom: 20px;
}
@media (max-width: 1000.01px) {
  .hero {
    height: calc(100vh - 48px - 53px);
    max-height: 717px;
  }
}
.hero .container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 100%;
}
.hero .container h1 {
  padding-top: 180px;
  position: relative;
  z-index: 1;
  text-align: right;
}
.hero .container h1::before {
  position: absolute;
  content: "";
  top: calc(50% + 100px);
  transform: translate(-50%, -50%);
  left: 50%;
  width: 916px;
  z-index: -1;
  object-fit: contain;
  opacity: 0.67;
  aspect-ratio: 1;
  background-image: url("/img/autres/Fleur.png");
}
@media (max-width: 1000.01px) {
  .hero .container h1::before {
    top: 50%;
  }
}
.hero .container h1 .first-line {
  display: block;
  font-weight: normal;
  font-size: 35px;
  line-height: 50px;
  text-align: right;
  color: #4b7388;
}
.hero .container h1 .second-line {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  font-weight: bold;
  font-size: 75px;
  line-height: 77px;
}
.hero .container h1 .third-line {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 70px;
  letter-spacing: 0.02em;
  line-height: 79px;
  text-align: right;
  color: #a7c830;
}
@media (max-width: 500.01px) {
  .hero .container h1 .first-line {
    font-size: 28px;
  }
  .hero .container h1 .second-line {
    font-size: 60px;
  }
  .hero .container h1 .third-line {
    font-size: 46px;
  }
}
.hero img {
  position: absolute;
  inset: 0;
  border-radius: 0;
  z-index: -1;
  object-fit: cover;
  height: 100%;
  width: 100%;
}
.hero::before {
  position: absolute;
  content: "";
  top: 0;
  bottom: 0;
  right: 0;
  width: 60%;
  background: linear-gradient(to left, rgb(255, 255, 255) 0%, rgba(255, 255, 255, 0.8) 40%, rgba(255, 255, 255, 0.6) 80%, rgba(255, 255, 255, 0) 100%);
}
@media (max-width: 500.01px) {
  .hero::before {
    width: 100%;
    background: rgba(255, 255, 255, 0.8);
  }
}
.hero::after {
  position: absolute;
  content: "";
  bottom: -1px;
  left: 0;
  right: 0;
  height: 66px;
  background: url("/img/autres/triangle.png") no-repeat center bottom;
}

.actualites {
  margin-bottom: 90px;
}
.actualites__title {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
  align-items: center;
}
@media (max-width: 1000.01px) {
  .actualites__title {
    flex-direction: column;
    align-items: center;
  }
}
.actualites h2 {
  padding-left: 40px;
}
@media (max-width: 1000.01px) {
  .actualites h2 {
    padding-left: 0;
    text-align: center;
  }
}
.actualites__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
  row-gap: 70px;
}
@media (max-width: 1000.01px) {
  .actualites__grid {
    grid-template-columns: 1fr;
    justify-items: center;
  }
}

.actuTeaser {
  position: relative;
  max-width: 463px;
}
.actuTeaser:hover h3 {
  color: var(--pourpre);
}
.actuTeaser figure img {
  border-radius: var(--radius) var(--radius) 0 0;
  margin-bottom: -4px;
}
.actuTeaser figcaption {
  height: 116px;
  padding: 28px 25px;
  display: flex;
  align-items: center;
  gap: 20px;
  background: white;
  border-radius: 0 0 var(--radius) var(--radius);
  box-shadow: 0 10px 10px rgba(167, 200, 48, 0.2078431373);
}
.actuTeaser figcaption time {
  color: var(--bleu);
  text-align: center;
  font-weight: 600;
  font-size: 18px;
  text-transform: uppercase;
}
.actuTeaser figcaption time b {
  font-size: 51px;
  display: block;
}
.actuTeaser figcaption h3 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  font-size: 26px;
  line-height: 32px;
  overflow: hidden;
  transition: all 0.5s ease;
}

.keys {
  position: relative;
  padding-top: 30px;
  margin-bottom: 50px;
}
.keys img {
  border-radius: 0;
}
@media (max-width: 1000.01px) {
  .keys {
    padding-top: 0;
  }
}
.keys::before {
  content: "";
  position: absolute;
  top: -205px;
  z-index: -1;
  bottom: 0;
  left: 0;
  right: 0;
  background: var(--lightVert);
}
.keys .bg {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
}
@media (max-width: 1000.01px) {
  .keys .infographie {
    display: none;
  }
}
.keys .container {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 1000.01px) {
  .keys .container {
    flex-direction: column;
    align-items: center;
  }
}
.keys__grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 36px;
  padding-bottom: 65px;
}
@media (max-width: 1000.01px) {
  .keys__grid {
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    gap: 45px 15px;
  }
}

.key {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  gap: 33px;
  width: 260px;
  position: relative;
}
@media (max-width: 1000.01px) {
  .key {
    width: 100%;
  }
}
.key b {
  font-weight: bolder;
  font-size: 34px;
  letter-spacing: 0.02em;
  line-height: 39px;
  margin-bottom: -28px;
  color: var(--vert);
}
.key span {
  font-size: 22px;
  font-weight: 500;
}
.key:not(:last-child)::after {
  content: "";
  position: absolute;
  top: 0;
  right: -18px;
  width: 1px;
  height: 200px;
  background: var(--vert);
}
@media (max-width: 1000.01px) {
  .key:not(:last-child)::after {
    display: none;
  }
}

.description {
  margin-bottom: 120px;
}
@media (max-width: 1000.01px) {
  .description {
    margin-bottom: 60px;
  }
}
.description h2 strong {
  padding-left: 40px;
}
@media (max-width: 1000.01px) {
  .description h2 strong {
    padding-left: 0;
  }
}
.description__content {
  margin-top: 60px;
  font-size: 18px;
  letter-spacing: -0.02em;
  line-height: 28px;
}

body .leaflet-tile {
  border-radius: 0;
}
body .leaflet-popup-content h3 {
  font-weight: 600;
  font-size: 20px;
  line-height: 25px;
  text-align: left;
  color: #4b7388;
}
body .leaflet-popup-content .link {
  display: flex;
  justify-content: flex-end;
}
body .leaflet-popup-content a {
  font-weight: bold;
  font-size: 14px;
  letter-spacing: 0.02em;
  line-height: 29px;
  color: #ac3053;
  text-transform: uppercase;
  text-align: right;
  margin-left: 55px;
  position: relative;
}
body .leaflet-popup-content a:before {
  content: "";
  position: absolute;
  width: 82px;
  height: 1px;
  background-color: #ac3053;
  top: 50%;
  right: calc(100% + 9px);
}

input[type=submit], button {
  background: none;
  border: none;
  font-family: inherit;
  font-size: inherit;
  cursor: pointer;
}

.btn, .wp-element-button {
  background: var(--pourpre);
  border: 2px solid var(--pourpre);
  color: #FFFFFF;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 20px;
  letter-spacing: 0.02em;
  padding: 20px 42px;
  border-radius: 50px;
  transition: var(--transition);
  display: inline-flex;
  align-items: center;
  gap: 5px;
}
@media (max-width: 500.01px) {
  .btn, .wp-element-button {
    padding: 15px;
  }
}
.btn:hover, .wp-element-button:hover {
  color: var(--pourpre);
  background: #FFFFFF;
}
.btn svg, .wp-element-button svg {
  margin-top: -3px;
}
.btn--outline, .wp-element-button--outline {
  background: transparent;
  color: var(--fontColor);
}
.btn--xs, .wp-element-button--xs {
  padding: 12px 16px 10px;
  font-size: 14px;
  border-width: 1px;
  line-height: 1;
}
.btn--green, .wp-element-button--green {
  background: transparent;
  border-color: var(--vert);
  color: var(--vert);
}
.btn--green:hover, .wp-element-button--green:hover {
  background: #F6FAEA;
  color: var(--vert);
}

.type {
  text-transform: uppercase;
  color: white;
  font-weight: 600;
  line-height: 1;
  border-radius: 50px;
  font-size: 17px;
  padding: 12px 17px 8px;
  background: var(--fontColor);
  letter-spacing: 0.05em;
  transition: var(--transition);
}

.spontanee {
  text-align: right;
  margin-bottom: 50px;
}

select {
  display: block;
}

.nice-select {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  background-color: #fff;
  border-radius: 50px;
  box-shadow: -4px 4px 4px rgba(4, 173, 209, 0.2);
  box-sizing: border-box;
  cursor: pointer;
  display: block;
  font-family: inherit;
  font-size: 17px;
  font-weight: normal;
  height: 38px;
  line-height: 38px;
  outline: none;
  padding-left: 18px;
  padding-right: 30px;
  position: relative;
  transition: all 0.2s ease-in-out;
  user-select: none;
  white-space: nowrap;
}

.nice-select:hover {
  border-color: #dbdbdb;
}

.nice-select:active, .nice-select.open, .nice-select:focus {
  border-color: #999;
}

.nice-select:after {
  border-bottom: 2px solid var(--pourpre);
  border-right: 2px solid var(--pourpre);
  content: "";
  display: block;
  height: 5px;
  margin-top: -4px;
  pointer-events: none;
  position: absolute;
  right: 15px;
  top: 50%;
  transform-origin: 66% 66%;
  transform: rotate(45deg);
  transition: all 0.15s ease-in-out;
  width: 5px;
}

.nice-select.open:after {
  transform: rotate(-135deg);
}

.nice-select.open .nice-select-dropdown {
  opacity: 1;
  width: 100%;
  pointer-events: auto;
  transform: scale(1) translateY(0);
}

.nice-select.disabled {
  border-color: #ededed;
  color: #999;
  pointer-events: none;
}

.nice-select.disabled:after {
  border-color: #ccc;
}

.nice-select.wide {
  width: 100%;
}

.nice-select.wide .nice-select-dropdown {
  left: 0 !important;
  right: 0 !important;
}

.nice-select.right {
  float: right;
}

.nice-select.right .nice-select-dropdown {
  left: auto;
  right: 0;
}

.nice-select.small {
  font-size: 12px;
  height: 36px;
  line-height: 34px;
}

.nice-select.small:after {
  height: 4px;
  width: 4px;
}

.nice-select.small .option {
  line-height: 34px;
  min-height: 34px;
}

.nice-select .nice-select-dropdown {
  margin-top: 4px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 0 1px rgba(68, 68, 68, 0.11);
  pointer-events: none;
  position: absolute;
  top: 100%;
  left: 0;
  transform-origin: 50% 0;
  transform: scale(0.75) translateY(19px);
  transition: all 0.2s cubic-bezier(0.5, 0, 0, 1.25), opacity 0.15s ease-out;
  z-index: 9;
  opacity: 0;
}

.nice-select .list {
  border-radius: 5px;
  box-sizing: border-box;
  overflow: hidden;
  padding: 0;
  max-height: 210px;
  overflow-y: auto;
}

.nice-select .list:hover .option:not(:hover) {
  background-color: rgba(0, 0, 0, 0) !important;
}

.nice-select .option {
  cursor: pointer;
  font-weight: 400;
  line-height: 40px;
  list-style: none;
  outline: none;
  padding-left: 18px;
  padding-right: 29px;
  text-align: left;
  transition: all 0.2s;
}

.nice-select .option:hover, .nice-select .option.focus, .nice-select .option.selected.focus {
  background-color: #f6f6f6;
}

.nice-select .option.selected {
  font-weight: bold;
}

.nice-select .option.disabled {
  background-color: rgba(0, 0, 0, 0);
  color: #999;
  cursor: default;
}

.nice-select .optgroup {
  font-weight: bold;
}

.no-csspointerevents .nice-select .nice-select-dropdown {
  display: none;
}

.no-csspointerevents .nice-select.open .nice-select-dropdown {
  display: block;
}

.nice-select .list::-webkit-scrollbar {
  width: 0;
}

.nice-select .has-multiple {
  white-space: inherit;
  height: auto;
  padding: 7px 12px;
  min-height: 36px;
  line-height: 22px;
}

.nice-select .has-multiple span.current {
  border: 1px solid #ccc;
  background: #eee;
  padding: 0 10px;
  border-radius: 3px;
  display: inline-block;
  line-height: 24px;
  font-size: 14px;
  margin-bottom: 3px;
  margin-right: 3px;
}

.nice-select .has-multiple .multiple-options {
  display: block;
  line-height: 24px;
  padding: 0;
}

.nice-select .nice-select-search-box {
  box-sizing: border-box;
  width: 100%;
  padding: 5px;
  pointer-events: none;
  border-radius: 5px 5px 0 0;
}

.nice-select .nice-select-search {
  box-sizing: border-box;
  background-color: #fff;
  border: 1px solid #e8e8e8;
  border-radius: 3px;
  color: #444;
  display: inline-block;
  vertical-align: middle;
  padding: 7px 12px;
  margin: 0 10px 0 0;
  width: 100%;
  min-height: 36px;
  line-height: 22px;
  height: auto;
  outline: 0 !important;
  font-size: 14px;
}

input:not([type=file]) {
  height: 55px;
  border-radius: 55px;
  padding-left: 25px;
  padding-right: 75px;
  border: 1px solid var(--bordure);
  font-family: "League Spartan", sans-serif;
  font-size: 16px;
}
input:not([type=file])[readonly] {
  background: var(--bgFiltres);
  cursor: no-drop;
}

input::file-selector-button {
  border: 2px solid var(--fontColor);
  border-radius: 50px;
  background: white;
  padding: 10px 15px;
  text-transform: uppercase;
  color: var(--fontColor);
}

textarea {
  border-radius: 15px;
  padding: 25px;
  border: 1px solid var(--bordure);
  font-family: "League Spartan", sans-serif;
  font-size: 16px;
}

.form-label {
  font-weight: bold;
  font-size: 18px;
}

.input-grouped {
  position: relative;
}
.input-grouped button {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  right: 0;
  aspect-ratio: 1;
  background: var(--pourpre);
}

::placeholder {
  font-family: "League Spartan", sans-serif;
  color: var(--fontColor);
}

.formConnect {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  gap: 20px;
  margin-bottom: 30px;
}
.formConnect form {
  display: grid;
  gap: 20px;
  place-items: center;
}
.formConnect form label {
  display: block;
  font-weight: bold;
}

.to-right {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
}

.innerForm {
  margin-bottom: 50px;
}
.innerForm input[type=checkbox] {
  width: 25px;
}
.innerForm input[type=name],
.innerForm input[type=text],
.innerForm input[type=email],
.innerForm input[type=phone],
.innerForm textarea {
  width: 100%;
}
.innerForm .form-group {
  margin-bottom: 30px;
}
.innerForm label {
  margin-bottom: 10px;
  display: block;
}
.innerForm label.inlined {
  display: flex;
  align-items: center;
  gap: 10px;
}
.innerForm label.inlined a {
  text-decoration: underline;
}

.required {
  color: var(--pourpre);
}

.form190 {
  display: grid;
  place-items: start;
  grid-template-columns: repeat(2, 1fr);
  gap: 25px;
}
.form190 .form-group {
  width: 100%;
}
.form190 > :nth-child(6),
.form190 > :nth-child(7),
.form190 > :nth-child(8),
.form190 > :nth-child(9) {
  grid-column: 1/-1;
}

.form180, .form185 {
  display: grid;
  place-items: start;
  grid-template-columns: repeat(2, 1fr);
  gap: 25px;
}
.form180 .form-group, .form185 .form-group {
  width: 100%;
}
.form180 > :nth-child(6),
.form180 > :nth-child(7), .form185 > :nth-child(6),
.form185 > :nth-child(7) {
  grid-column: 1/-1;
}

.sidebar-block ul {
  padding-left: 0;
  list-style-type: none;
}
.sidebar-block ul li {
  padding-left: 25px;
  padding-bottom: 15px;
  margin-bottom: 15px;
  position: relative;
}
.sidebar-block ul li::before {
  font-family: "Font Awesome 6 Pro", fantasy;
  position: absolute;
  left: 0;
  top: 0;
}
.sidebar-block ul.documents li::before {
  content: "\f15c";
}
.sidebar-block ul.liens li::before {
  content: "\f35d";
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 120px 0;
  gap: 10px;
}

.page-number {
  display: flex;
  width: 40px;
  align-items: center;
  justify-content: center;
  height: 40px;
  padding-top: 5px;
  border-radius: 40px;
  background: white;
  transition: 0.25s all;
}
.page-number.current-page {
  background: var(--bleu);
  color: white;
}

.page-arrow {
  margin-inline: 20px;
}

.biens {
  position: relative;
  padding-bottom: 125px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}
.biens::before {
  content: "";
  position: absolute;
  top: calc(100% - 355px);
  left: 355px;
  width: 2554px;
  height: 1014px;
  background: url(/img/autres/fond.webp) no-repeat;
  z-index: -1;
}
@media (max-width: 1000.01px) {
  .biens {
    grid-template-columns: 1fr;
  }
}
.biens h2 {
  grid-column: 1/-1;
  padding-left: 40px;
  width: 100%;
}
@media (max-width: 1000.01px) {
  .biens h2 {
    padding-left: 0;
  }
}
.biens__cta {
  grid-column: 1/-1;
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.bien-teaser {
  position: relative;
  z-index: 3;
  display: block;
  background: transparent;
  padding: 10px 25px 25px;
  border-radius: calc(var(--radius) * 2);
  transition: var(--transition);
}
.bien-teaser h3 {
  font-weight: 600;
  font-size: 26px;
  line-height: 32px;
  margin-block: 5px;
}
.bien-teaser .card {
  position: relative;
  max-width: 660px;
}
.bien-teaser .card .type {
  position: absolute;
  top: 17px;
  left: 17px;
}
.bien-teaser .card .meta {
  position: absolute;
  right: 17px;
  top: 17px;
}
.bien-teaser .card figure {
  position: relative;
}
.bien-teaser .card figure img {
  opacity: 1;
  transition: var(--transition);
}
.bien-teaser .card figure figcaption {
  position: absolute;
  bottom: -1px;
  left: -1px;
  font-weight: 600;
  font-size: 20px;
  background: white;
  padding: 12px 20px;
  display: inline-flex;
  align-items: center;
  gap: 7px;
  transition: color, background-color 0.5s ease-in-out;
  border-radius: 0 16px 0 0;
}
.bien-teaser .card figure figcaption svg {
  margin-top: -4px;
}
.bien-teaser .card figure figcaption path {
  fill: var(--fontColor);
  transition: fill 0.2s ease-in-out;
}
.bien-teaser:hover {
  color: #FFFFFF;
  background: var(--vert);
}
.bien-teaser:hover .meta-datas {
  color: var(--fontColor);
  border-color: var(--pourpre);
}
.bien-teaser:hover .meta-commune {
  background: var(--pourpre);
}
.bien-teaser:hover .type {
  background: var(--pourpre);
}
.bien-teaser:hover .card figure img {
  opacity: 0.7;
}
.bien-teaser:hover .card figure figcaption {
  color: white;
  background: var(--vert);
}
.bien-teaser:hover .card figure figcaption path {
  fill: white;
}
@media (max-width: 1000.01px) {
  .bien-teaser svg {
    display: none;
  }
  .bien-teaser .card .type {
    top: 67px;
    left: auto;
    right: 17px;
  }
}

.meta {
  height: 37px;
  display: flex;
  align-items: stretch;
}
.meta-commune {
  display: flex;
  align-items: center;
  padding-left: 17px;
  gap: 7px;
  padding-right: 14px;
  background: var(--vert);
  border-radius: 50px 0 0 50px;
  color: white;
  font-size: 18px;
  transition: var(--transition);
}
.meta-datas {
  font-weight: 500;
  font-size: 18px;
  display: flex;
  padding-right: 13px;
  padding-left: 13px;
  padding-top: 2px;
  gap: 7px;
  align-items: center;
  background: white;
  border: 1px solid var(--bordure);
  border-left: 0;
  border-radius: 0 50px 50px 0;
  transition: var(--transition);
}
.meta-datas > div {
  display: flex;
  align-items: center;
  gap: 5px;
}
.meta-datas > div svg {
  margin-top: -5px;
}

input {
  accent-color: var(--pourpre);
}

.range {
  display: flex;
  align-items: center;
  gap: 10px;
}

input[type=range] {
  padding: 0;
  width: 100%;
}

.filtres {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: -20px;
  padding: 50px;
  background: var(--bgFiltres);
  gap: 50px;
  margin-bottom: 75px;
}
.filtres > * {
  flex: 1;
}
.filtres label:not(.checkLab) {
  font-weight: 600;
  margin-bottom: 7px;
  display: block;
  font-size: 18px;
}
.filtres .action {
  align-self: flex-end;
  align-items: center;
  display: flex;
  gap: 30px;
}
.filtres .reset {
  font-weight: 500;
  font-size: 18px;
  line-height: 29px;
  gap: 10px;
  display: inline-flex;
  align-items: center;
  text-align: center;
  color: #4b7388;
}
@media screen and (max-width: 1000px) {
  .filtres {
    flex-direction: column;
    padding: 50px 20px;
  }
  .filtres > * {
    width: 80%;
  }
  .filtres .action {
    align-self: center;
  }
}
@media screen and (max-width: 500px) {
  .filtres > * {
    width: 95%;
  }
  .filtres .action {
    flex-direction: column;
    gap: 20px;
  }
}

.mySelect {
  background: white;
  border-radius: 100px;
  width: 100%;
  padding-left: 22px;
  padding-right: 22px;
  border: 1px solid var(--bordureSelect);
}
.mySelect__menu-list {
  background: white;
  margin-left: -22px;
  margin-top: 5px;
  border: 1px solid var(--bordureSelect);
}
.mySelect__indicators {
  position: relative;
  left: 15px;
}
.mySelect__option {
  padding: 12px 22px 10px 22px;
  font-size: 16px;
  font-weight: 600;
  color: var(--fontColor);
}
.mySelect__option:hover {
  background: var(--lightGrey);
}

.vues {
  position: absolute;
  top: 15px;
  right: 15px;
  display: flex;
  gap: 15px;
  align-items: center;
  z-index: 3;
  width: auto;
}
.vues button {
  border-radius: var(--radius);
  display: inline-flex;
  gap: 5px;
  background: var(--vert);
  padding: 15px 15px 11px 15px;
  color: white;
  transition: var(--transition);
}
.vues button svg {
  position: relative;
  top: -2px;
}
.vues button:hover, .vues button.active {
  background: var(--fontColor);
}

.gridBiens {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
}
@media screen and (max-width: 1000px) {
  .gridBiens {
    padding: 0 20px;
    grid-template-columns: repeat(1, 1fr);
    gap: 25px;
  }
}

.bottomAction {
  margin-top: 40px;
  padding-top: 25px;
  display: flex;
  gap: 30px;
  justify-content: center;
  border-top: 1px solid #C4CCD0;
}

.checkboxes label {
  margin-right: 40px;
  display: inline-flex;
  align-items: center;
}
.checkboxes label input {
  width: 18px;
  margin-right: 5px;
  position: relative;
  top: -2px;
}

.accordeon {
  margin-bottom: 15px;
  display: grid;
  grid-template-rows: 81px 0fr;
  overflow: hidden;
  max-height: 81px;
  transition: max-height 1s ease;
}

.accordeon.active {
  grid-template-rows: 81px 1fr;
  max-height: 1000px;
}

.accordeon .accordeon__title {
  display: flex;
  align-items: center;
  height: 81px;
  border-radius: 8px;
  overflow: hidden;
}

.accordeon__content {
  font-weight: 600;
  font-size: 20px;
  line-height: 25px;
  text-align: left;
  color: #4b7388;
  padding: 35px;
  border-radius: 8px;
  background: #F5F6F8;
  border-top: 17px solid white;
}

.accordeon button {
  background: transparent;
  width: 100%;
  border: none;
  font-weight: 600;
  font-size: 30px;
  line-height: 78px;
  text-align: left;
  color: #04add1;
  align-items: center;
  padding-left: 35px;
  padding-right: 35px;
  border-bottom: 1px solid #04add1;
  overflow: hidden;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  text-overflow: ellipsis;
  transition: all 0.5s ease;
}

.accordeon svg {
  margin-right: 20px;
}

.accordeon.active button {
  color: white;
  background: #04add1;
}

.exergue {
  display: flex;
  position: relative;
  background: #DCF3F8;
  overflow: hidden;
  border-radius: 10px;
  padding: 60px 80px;
  z-index: 2;
}

.exergue--image figure {
  position: absolute;
  z-index: -1;
  right: 0;
  top: 0;
  bottom: 0;
  width: 50%;
  margin-bottom: 0;
}

.exergue--image figure::after {
  content: "";
  position: absolute;
  top: 0;
  width: 320px;
  bottom: 0;
  left: 0;
  background: linear-gradient(to right, #DCF3F8 0%, transparent 100%);
  z-index: 1;
}

.exergue--image figure img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  object-position: center;
}

.exergue svg {
  position: absolute;
  opacity: 0.6;
  top: 0;
  left: calc(100% - 228px);
  z-index: 0;
}

.exergue--image svg {
  left: unset;
  right: calc(100% - 228px);
}

.exergue__content {
  position: relative;
  z-index: 1;
  font-size: 18px;
  line-height: 25px;
  color: #4b7388;
}

.exergue__content h3 {
  font-weight: 300;
  color: var(--fontColor);
  font-size: 25px;
  line-height: 32px;
}

.exergue__content h2 {
  font-weight: 500;
  font-size: 45px;
  line-height: 53px;
  color: #04add1;
}

.exergue--image .exergue__content {
  width: 50%;
}

.exergue__btn {
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
  letter-spacing: 0.02em;
  text-align: right;
  border: 2px solid #ac3053;
  padding: 8px 40px 10px;
  border-radius: 50px;
  display: inline-flex;
  align-items: center;
  transition: all 0.5s ease;
  margin-top: 35px;
}

.exergue__btn:hover {
  background: #ac3053;
  color: #fff;
}

.chiffres {
  display: flex;
}
.chiffres > * {
  flex: 1;
}

.chiffre {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  position: relative;
  padding: 40px 20px 0;
  font-weight: 500;
  font-size: 25px;
  letter-spacing: 0.02em;
  line-height: 26px;
  color: #4b7388;
}

.chiffre:not(:last-child)::after {
  position: absolute;
  content: "";
  top: 0;
  bottom: 0;
  right: 0;
  width: 1px;
  background-color: #A7C830;
}

.chiffre b {
  display: block;
  font-size: 55px;
  letter-spacing: 0.02em;
  line-height: 39px;
  color: #a7c830;
}

@media (max-width: 1000px) {
  .chiffres {
    flex-direction: column;
  }
  .chiffre:not(:last-child)::after {
    display: none;
  }
}
.temoignage {
  display: flex;
  gap: 34px;
  align-items: self-end;
  position: relative;
}

.temoignage figure {
  flex: none;
  width: 296px;
  height: 335px;
  margin-bottom: 0;
  display: block;
}
.temoignage figure::after {
  position: absolute;
  content: "";
  left: 0;
  right: 0;
  bottom: -2px;
  height: 75px;
  background: white;
  z-index: 2;
  clip-path: polygon(296px 0, 296px 0, 100% 100%, 0 100%);
}

.temoignage figure img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.temoignage__content {
  flex: 1;
  background: linear-gradient(213deg, #dcf3f8 0%, #dcf3f8 -10%, #f6faea 100%);
  position: relative;
  padding: 66px 80px 104px 110px;
  font-weight: 500;
  font-size: 18px;
  line-height: 25px;
  color: #4b7388;
}

.temoignage__content svg {
  position: absolute;
  top: 44px;
  left: -16px;
  z-index: 2;
}

.temoignage__source {
  font-weight: bold;
  font-size: 21px;
  line-height: 25px;
  text-align: left;
  color: #04add1;
}

/*# sourceMappingURL=styles.css.map */
