.ariane{
  margin-top: 27px;
  margin-bottom: 60px;
  @media screen and (max-width: 1000px) {
    height: 0;
    overflow: hidden;
  }
  ul {
    display: flex;
    gap: 25px;
    align-items: center;

    li{
      position: relative;
      &:not(:last-child)::after{
        position: absolute;
        right: -15px;
        top: 45%;
        transform: translateY(-50%);
        content:'';
        width: 6px;
        height: 10px;
        background: url('/img/autres/chevron_ariane.svg') no-repeat;
      }
      a{
        svg{
          position: relative;
          top: -2px;
        }
        text-decoration: underline;
        font-weight: 500;
        font-size: 18px;
        display: flex;
        align-items: center;
        gap: 10px;
        line-height: 22px;
        text-align: left;
      }
    }
  }
  span{
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #ac3053;
  }
}
