@use "../global/mixins" as *;

.header {
  position: relative;
  z-index: 1000;
  background: #EFF1F3;

  &__top__grid {
    display: flex;
    height: 53px;
    align-items: center;
    justify-content: space-between;

    .left {
      display: flex;
      align-items: center;
      gap: 6px;
      text-transform: uppercase;
      font-weight: 500;

      a {
        font-weight: bold;
        display: flex;
        align-items: center;
        gap: 10px;
        font-size: 18px;


        svg {
          position: relative;
          top: -2px;
        }
      }

      @include tablet {
        width: 0;
        overflow: hidden;
      }
    }

    .right {
      background: var(--vert);
      color: white;
      height: 100%;
      padding-left: 40px;
      text-transform: uppercase;
      border-bottom-left-radius: 50px;

      svg {
        margin-top: -3px;
      }

      @include phone {
        span {
          display: none;
        }
      }

      ul {
        display: flex;
        height: 100%;
        gap: 35px;
        margin-bottom: 0;
        align-items: center;

        a {
          display: flex;
          gap: 10px;
          align-items: center;
          font-weight: bold;
          letter-spacing: 0.04em;
        }
      }

      position: relative;

      &::before {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: 99%;
        z-index: -1;
        width: calc(100vw - 100%);
        height: 100%;
        background: var(--vert);
      }

    }

    a {
      position: relative;

      &::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: -5px;
        width: 100%;
        height: 2px;
        background: var(--pourpre);
        transform: scaleX(0);
        transition: var(--transition);
      }

      @include hover {
        &::after {
          transform: scaleX(1);
        }
      }
    }

    .right {
      a::after {
        background: white;
      }
    }
  }

  &__bottom {
    position: absolute;
    left: 0;
    right: 0;
    z-index: 3;
    top: calc(100% + 65px);

    .container {
      background: white;
      height: 106px;
      position: relative;
      display: flex;
      padding-right: calc(95px + 10%);
      align-items: center;
      justify-content: space-between;
      border-radius: var(--radius);
      gap: 30px;
      box-shadow: -11px 20px 20px rgba(0, 0, 0, 0.2);

      @include laptop {
        padding-right: 150px;
      }
      padding-left: 48px;
      @include tablet {
        padding-left: 15px;

      }


      img {
        position: relative;
        top: -40px;
        border-radius: 0;
        max-width: 30vw;
        @include tablet {
          top: -15px;
        }
      }
    }

    .burger {
      display: none;
      @include tablet {
        display: flex;
      }
      width: 100px;
      gap: 5px;
      justify-content: center;
      align-items: center;

      .picto {
        display: grid;
        grid-row-gap: 5px;
      }

      span {
        display: block;
        height: 2px;
        background: var(--fontColor);
        width: 25px;
      }
    }

    nav {
      @media screen and (min-width: 1000px) {
        height: 100%;
      }

      > ul {
        @media screen and (min-width: 1000px) {
          height: 100%;
        }
        display: flex;
        gap: 91px;
        @include laptop {
          gap: 45px;
        }

        > li {
          @media screen and (min-width: 1000px) {
            height: 100%;
          }
          max-width: 110px;
          position: relative;
          @media screen and (min-width: 1000px) {
            > a {
              display: flex;
              align-items: center;
              justify-content: center;
              height: 100%;
            }
          }


          &:not(:last-child) {
            &::after {
              content: '';
              position: absolute;
              top: 50%;
              right: -45px;
              transform: translateY(-50%);
              width: 1px;
              height: 50px;
              background: var(--bordure);
              opacity: .30;
              @include laptop {
                display: none;
              }
            }
          }

          .sous-menu {
            @media screen and (min-width: 1000px) {
              position: absolute;
              top: 100%;
              left: -45px;
              right: -85px;
              opacity: 0;
              margin-top: 0 !important;
              pointer-events: none;
            }
            margin-top: 5px;
            padding: 15px;
            border-radius: 0 0 10px 10px;
            background: white;
            box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
            transition: opacity 0.2s;

            > li {
              &:not(:first-child) {
                margin-top: 15px;
              }

              > a {
                color: var(--pourpre);
                font-weight: bold;
                font-size: 18px;
              }

              > ul {
                padding-top: 10px;
                padding-left: 10px;
              }
            }
          }

          @media screen and (min-width: 1000px) {
            &:hover .sous-menu {
              opacity: 1;
              pointer-events: all;
            }
          }


          > a {
            font-weight: bold;
            font-size: 24px;
            line-height: 24px;
            text-align: left;
            color: #4b7388;
            transition: var(--transition);
            @include hover {
              color: var(--pourpre);
            }
          }
        }
      }

      @include tablet {
        position: fixed;
        inset: 0;
        pointer-events: none;
        z-index: 1000;
        opacity: 0;
        background: white;
        transition: var(--transition);
        &.open {
          pointer-events: all;
          opacity: 1;
          right: 40px;

          &::after {
            content: "";
            position: absolute;
            left: 100%;
            top: 0;
            bottom: 0;
            z-index: 1;
            width: 40px;
            background: rgba(0, 0, 0, 0.6);
          }

          &::before {
            content: "X";
            position: absolute;
            left: 100%;
            color: white;
            top: 50px;
            font-weight: bold;
            font-size: 20px;
            z-index: 2;
            //rotate: 90deg;
            text-align: center;
            width: 40px;
          }
        }

        > ul {
          max-height: 100%;
          padding: 50px 0;
          overflow: auto;
          display: grid;
          place-items: center;
          &::-webkit-scrollbar {
            width: 10px;
          }
          &::-webkit-scrollbar-thumb{
            background: var(--pourpre);
            border-radius: 10px;
          }

          > li {
            max-width: 75%;
            text-align: center;

            &::after {
              display: none;
            }
          }
        }

      }
    }
  }

  &__search {
    position: absolute;
    right: 0;

    height: 100%;
    width: 95px;
    padding: 15px;
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    z-index: 1;

    &::before {
      content: '';
      background: var(--pourpre);
      top: 0;
      right: 0;
      z-index: -1;
      bottom: 0;
      width: 100%;
      border-radius: 100px 0 0 100px;
      position: absolute;
      transition: var(--transition);

    }

    transition: var(--transition);

    form {
      opacity: 0;
      width: 0;
      display: none;
      transition: var(--transition);
    }

    &.active {
      form {
        opacity: 1;
        width: 100%;
        display: flex;
        align-items: center;
        gap: 5px;
        @include phone {
          input {
            width: 200px;
          }
        }
      }

      width: min(100%, 480px);

      > button {
        display: none;
      }

      &::before {
        background: var(--vert);
      }
    }
  }
}

.alerte {
  position: fixed;
  inset: 0;
  z-index: 89000000;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(4px);
  display: grid;
  place-items: center;

  &__inner {
    width: min(1100px, 90%);
    padding: 45px;
    background: white;
    border-radius: var(--radius);
    box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.2);
  }

  &__title {
    font-weight: bold;
    font-size: 32px;
    display: inline-block;
    padding: 0 30px 15px;
    margin: 0 auto 15px;
    border-bottom: 2px solid;
  }

  button {
    background: white;
    position: absolute;
    right: 30px;
    top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }

  opacity: 1;
  transition: opacity 0.25s ease;

  &.fade {
    opacity: 0;
  }
}

.openSearch {
  &::before {
    content: '';
    position: absolute;
    inset: 0;
    background: transparent;
  }
}

@media screen and (max-width: 1100px) {
  .header__top__grid .left,
  .header__top__grid .left a,
  .header__top__grid .right ul a {
    font-size: 14px;
  }
}
