.text-center {
  text-align: center;
}

.text-primary {
  color: var(--vert);
}

.sitemap {
  > li > a{
    font-weight: bold;
    color: var(--pourpre) !important;
    margin-top: 15px;
    display: block;
    font-size: 26px !important;
  }
  ul{

  }
  li a:not([class]){
    color: var(--fontColor);
    text-decoration: none;
    font-size: 22px;
  }
}
