.text-center {
  text-align: center;
}

.text-primary {
  color: var(--vert);
}

.sitemap {
  ul{
    list-style: none;
    border-left: 2px solid var(--vert);
    ::before{
      display: none;
    }
  }
  li a:not([class]){
    color: var(--fontColor);
    text-decoration: none;
    font-size: 22px;
  }
  > li {
    > a {

    }

    > ul {
      > li {
        > a {

        }

        > ul {
          > li {
            > a {

            }
          }
        }
      }
    }
  }
}
