@use "../../global/mixins" as *;

.wysiwyg {

  margin: 50px 0;
  line-height: 1.4;
  font-size: 18px;

  a:not([class]) {
    text-decoration: underline;
    color: var(--pourpre);
  }

  h2 {
    font-weight: bold;
    font-size: 50px;

  }

  h3 {
    font-weight: 500;
    font-size: 45px;
    line-height: 53px;
    color: var(--bleu);
  }

  h4 {
    font-weight: 500;
    font-size: 35px;
    line-height: 34px;
    color: var(--vert);
  }

  h5{
    font-weight: 600;
    font-size: 25px;
  }

  > * {
    margin-bottom: 20px;
  }

  > p {

  }

  ul:not([class]) {
    list-style-type: none;
    padding-left: 20px;
    li{
      position: relative;
      &::before{
        position: absolute;
        position: absolute;
        left: -25px;
        content: "";
        top: 2px;
        width: 18px;
        height: 18px;
        background: url('/list-marker.png');
      }
      ul li::before{
        width: 10px;
        height: 2px;
        top: 10px;
        background: var(--bleu);
      }
    }
  }

  iframe {
    aspect-ratio: 16 / 9;
  }

  table {
    border: 0;
    thead tr {
      background: var(--fontColor);
      color: #DCF3F8;
      text-transform: uppercase;
      text-align: left;
      tr, td, th {
        padding: 18px 30px 10px;
        border: 0 !important;
      }
    }

    tbody {
      border-bottom: 2px solid var(--fontColor);
      tr {
        &:nth-child(even) {
          background: #F6FAEA;
        }


        th, td {
          border: 0;
          padding: 10px 30px;
        }
      }
    }
  }
}

.chapo {

}

.table-responsive {
  max-width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  border-spacing: 0;
}

.wp-block-gallery{
  display: flex;
  gap:20px;
  flex-flow: row wrap;
}
