.printNone{
    @media print{
        display: none;
    }
}
.printOnly{
    display: none;
    @media print{
        display: block;
    }
}

.flex {
  display: flex;
  align-items: flex-start;
  margin-top: 55px;
  gap: 40px;
  justify-content: space-between;

  > * {
    flex: 1;
  }

  @media screen and (max-width: 1000px) {
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    > :nth-child(1),
    > :nth-child(2){
      width: 50%;
    }
    > :nth-child(3){
      width: 100%;
    }
  }
}

.dpe {
  display: grid;
  position: relative;
  gap: 8px;
  padding-left: 130px;

  b {
    font-weight: 600;
    font-size: 17px;
    line-height: 26px;
  }
}

.cursor {
  position: absolute;
  display: grid;
  gap: 6px;
  left: 0;
  text-align: right;

  b {
    font-weight: bold;
    font-size: 27px;
    line-height: 27px;
    text-align: right;
    color: #4b7388;
    position: relative;

    &::after {
      content: '';
      position: absolute;
      width: 10%;
      top: -2px;
      bottom: -2px;
      border: 1px solid #95A3AB;
      border-right: none;
      left: calc(100% + 11px);
    }
  }
}

.loyer {
  border: 9px solid rgba(167, 200, 48, 0.25);
  padding: 16px 16px 40px;
  border-radius: var(--radius);

  h2 {
    font-weight: 600;
    font-size: 39px;
    background: white;
    margin-top: -10px;
    margin-bottom: 30px;
    position: relative;
    top: -20px;
    padding: 0 10px;
    line-height: 20px;
    display: inline-block;

    &::after {
      display: none;
    }
  }

  strong {
    font-weight: bold;
    font-size: 47px;
    line-height: 11px;
    text-align: left;
    color: #04add1;
  }

}

.sep {
  width: 1px;
  height: 17px;
  display: inline-block;
  background: var(--vert);
  margin-left: 12px;
  margin-right: 12px;
  position: relative;
  top: 3px;
}

.flexB {
  display: flex;
  gap: 150px;
  margin-top: 100px;
  margin-bottom: 80px;
  @media screen and (max-width: 1000px) {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0px;
  }
}

.sdb {
  flex: none;
}

.btn {
  display: flex;
  width: 300px;
  gap: 20px;
  padding-bottom: 23px;
  align-items: center;
  border-bottom: 2px solid var(--vert);
  margin-bottom: 25px;
  font-size: 25px;
  line-height: 26px;

  svg {
    flex: none;
    width: 38px;
  }

  span {
    flex: 1;
  }
}

.rouge {
  border-bottom-color: #AC3053;
}
